/* CSS used here will be applied after bootstrap.css */

.bigslide {
    background-image: url('/images/pdca-method-deming-wheel.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background:red; 
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
div.row.withborder >div {
  border: 1px solid #164271			;
}
/* img {
    width: 75%;
} */
.productsTable td
{
    border: 1px solid black;
}
.annotate-container{
	position: relative;
}

.annotate-container > [id^=baseLayer]{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background: grey;
}

.annotate-container > [id^=drawingLayer]{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: transparent;
}
.annotate-modal-body .btn .fa {
    color: #333 !important;
}
div#annotate-modal .btn-default.active {
    background: #8de900 !important;
}

div#annotate-modal .btn-group .btn {
    padding: 7px 10px;
    text-align: center;
    box-shadow: none;
    vertical-align: middle;
}

div#annotate-modal .btn-group .btn span {
    margin-right: 0;
}
/* ---------------------------------------------------
    Header STYLE
----------------------------------------------------- */
.navbar .dropdown-menu a {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    color: #0000008a;
}

/* ---------------------------------------------------
    Menu STYLE
----------------------------------------------------- */
.colorMenu {
    color: black;
}

.menu {
    text-align: left;
    padding-top: 6px;
}

.menu li {
    display: inline-block !important;
    position:relative;
}
.menu li:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.menu > li:hover > a,.menu > li.active > a{
	color: #8de900;
}
.menu li.active:after {
	width: 100%;
	background: #8de900;
}
.menu li:hover:after {
	width: 100%;
	/*background: #8de900; */
}
.colorMenu {
    color: #0000008a;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
}
.counter {
    position: absolute;
    margin-left: 0px;
    margin-top: -8px;
    background-color: #ec643f;
    color: #fff;
    padding: 1px 4px;
    font-size: 10px;
    z-index: 2;
    border-radius: 100%;
    right: 0;
}

.navbarMenu {
    background-color: #fafafa !important;
    top: 67px;
}

/* ---------------------------------------------------
    Home STYLE
----------------------------------------------------- */
.allCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.roundCardHome {
    /* border: 3px solid #587687; */
    /* border-radius: 50%; */
    padding: 0;
    margin: 0px auto;
}

.fa.fa-download, .fa.fa-terminal, .fa.fa-eye {
    font-size: 45px;
}

.align {
    text-align: center;
}

.myCard {
    margin: 20px;
}

.card {
    padding: 0;
    height: auto;
    max-width: 190px;
    background-color: #fff !important;
    width: 250px;/* custom width */
}

.card:hover {
   /*  background-color: #fff !important; */
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .16), 0 5px 15px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
}

.home-wrapper{
    margin-top: 100px;
    height: 100%;
}

.h1HomeColor{
    color: #8de900 !important;
}

.allCards a{
color: #fff !important;
    background: #60606070 !important;
    border: 1px solid #fff;
    border-radius: 10px;
}

.roundCardHome > i {
    height: 70px;
    width: 70px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    /* border-radius: 50%;
        border: 3px solid #000000; */
    font-size: 3em;
    line-height: 70px;
}
.card .card-block {
    padding: 0;
}
.card .card-block h4 {
    padding: .5rem;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 400;
}
.homeBanner-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.homeBanner-image {
    width: 100%;
    height: 100%;
    background: url(/images/banner-construction-med.jpg) no-repeat;
    background-size: cover;
     
}

.homeBanner-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #1313134a;
}

/* ---------------------------------------------------
    Footer STYLE
----------------------------------------------------- */

.blue {
    background-color: #2B629A !important;
}
.blue .copyrights-text {
color: #b8b8b8 !important;
}
.copyrights-text {
    color: #fff !important;
    display: inline-block;
    position: absolute;
    margin-top: 0;
    margin-left: 10px;
    font-size: 1rem;
}

footer {
    text-align: center;
}

.logoFooter {
    width: 60px;
}

footer.page-footer {
    padding-bottom: 10px;
    padding-top: 12px;
       background: transparent;
}




/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #F6F6F6;
    color: #292b2c;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;    border-bottom: 1px solid #ddd;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #292b2c;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 12px;
    color: #292b2c;
    font-weight: 400;
    display: flex;
}
#sidebar ul li a i {
    margin-right: 15px;
        font-size: 18px;
}
#sidebar ul li a:hover {
    color: #82e600;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgb(130, 230, 0);
    box-shadow: rgb(130, 230, 0) 5px 0px 0px inset;
}

a[data-toggle="collapse"] {
    position: relative;
}


/* ---------------------------------------------------
    Datatable STYLE
----------------------------------------------------- */
th [type=checkbox].filled-in:not(:checked)+label:after {
    border-color: #fff;
}
table.dataTable td, table.dataTable th {
    /* box-sizing: border-box; */
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    padding: 5px 25px 5px 10px;
    text-align: center;
    border-left-color: #c3c3c3;
    border-right-color: #c3c3c3;
    cursor: pointer;
    font-weight: 400;
    font-size: 11px;
}
table.dataTable th {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #666;
    font-weight: bold;
    color:#fff;
}
table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
	opacity: 1;
    color: white;
    font-weight: 800;
}

.dataTables_length {
    display: none;
}
div.dataTables_wrapper div.dataTables_filter input {
    padding: 4px 0;
    margin-bottom: 0;
    height: 24px;
    margin-top: 0;
    font-size: 14px;
}
.dt-buttons.btn-group {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.dataTables_filter {
    float: right;
    padding: 1px 0;
}
table [type=checkbox].filled-in:checked+label:before {
    width: 3px;
    height: 8px;
}
table [type=checkbox].filled-in:not(:checked)+label:after,
table [type=checkbox].filled-in:checked+label:after {
    height: 14px;
    width: 14px;
}
table [type=checkbox].filled-in:not(:checked)+label:before {
    left: 4px;
    top: 6px;
}
table [type=checkbox]+label{
	height: 18px;
    width: 18px;
}

table.table fieldset.form-group {
    margin-bottom: 0;    line-height: 1px;
}
.table thead th,.table tbody td {
    padding: 7px 5px;
    font-size: 12px;
}
td.action-col {
    text-align: center;
}

td.action-col > a {
    padding: 3px 5px;
    margin-right: 10px;
}

td.action-col > a:last-child {
    margin-right: 0;
}

.dataTables_filter {
    float: right;
}
.dt-buttons.btn-group a {
    margin-right: 6px;
}
.dt-buttons.btn-group button {
    margin-right: 5px;
    cursor: pointer;
}
.monitoringcol-left {
    width: 50%;
    margin: 0 5px;
    border: 1px solid #ddd;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.10), 0 2px 10px 0 rgba(0,0,0,.10);
}

.monitoringcol-right {
    width: 50%;
    margin: 0 5px;
    border: 1px solid #ddd;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.10), 0 2px 10px 0 rgba(0,0,0,.10);
}

.monitoring-workdescription p {
    font-size: 12px;
}
/* ---------------------------------------------------
    Global STYLE
----------------------------------------------------- */
/* Slider  */
#carousel {
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 880px;
}

#slides {
overflow: hidden;
position: relative;
width: 100% ;
height: 250px;
}

#slides ul {
list-style: none;
width:100%;
height:250px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative;
font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 100%;
}

 #buttons {
    padding: 0 0 5px 0;
    /* float: right; */
    display: inline-block;
    width: 100%;
}

#buttons a {
text-align: center;
    font-size: 30px;
    float: left;
    outline: 0;
    margin: 0 60px;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 9px;
    width: 35px;
}

a#prev:hover, a#next:hover {
color:#8de900;
text-shadow:.5px 0px #333;  
}

.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:400;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 200px;
font-size:24px;
color:#333;
font-style:italic;
/* text-shadow:.5px 0px #b14943;  */ 
}

.quote-marks {
font-size:30px;
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
font-size:20px;
color:#555;
font-weight:300;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}
/* Slider end */
.reports-cards h4.card-title {
    margin-bottom: 0;
}
.reports-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.reports-cards .card-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.reports-cards .card {
    margin: 10px;
    max-width: 100%;
    background: #587687 !important;
    color: #fff;
}
.nav-tabs {
    margin: 0 0 10px 0;
    padding: 0 15px;
    background: #fff;
    box-shadow: none;
}
.nav-tabs .nav-link {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 5px 20px;
    font-weight: 600;
    text-align: center;
    color: #0000008a !important;
    border: 1px solid transparent;
    border-bottom-width: 2px;
    font-size: 12px;
    position: relative;
}

.nav-tabs .nav-link.active {
    color: #8de900 !important;
}
.nav-tabs .nav-link.active:hover{
	    border-color: #ddd #ddd #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #8de900 !important;
}
table.dataTable tbody tr:hover {
    background: #8de9002e;
}
.workatheight-form > .x_panel {
    border: 1px solid #dddddd;
    margin-bottom: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.10), 0 2px 10px 0 rgba(0,0,0,.10);
}

table.dataTable>tbody>tr.child > td {
    text-align: inherit;
}
table.dataTable.dtr-inline.collapsed>thead>tr[role="row"]>th:first-child {
    position: relative;
    padding-left: 30px;
}
table.dataTable>tbody>tr.child ul.dtr-details>li {
    border-bottom: 1px solid #efefef;
    padding: 0;
    display: flex;
}
table.dataTable>tbody>tr.child span.dtr-title {
    display: flex;
    min-width: 75px;
    font-weight: bold;
    width: 75px;
    white-space: initial;
    padding: 2px 5px;
    background: #f2f2f2;
    align-items: center;
}
table.dataTable>tbody>tr.child span.dtr-data {
	display: flex;
    white-space: initial;
    padding: 2px 5px;align-items: center;
}
.mobileviewUser-image {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.mobileviewUser-image > img {
    width: 100%;
    border-radius: 100%;
    border: 1px solid #ddd;
}

.mobileviewUser-name {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.avatar-list-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 400;
}
.list-group-item-text,.post-time {
    margin-bottom: 0;
    line-height: 1.4;
    color: rgba(0,0,0,.54);
    font-size: .875rem;
}

img.monitorsignimage {max-width: 150px;border: 1px solid #ddd;margin: 10px 0px;}

span.post-time {}

.avatar-list-img img.img-responsive {
    max-width: 100%;
}

.editmonitorcontent {
    position: absolute;
    right: 0;
    top: 0px;    background: #fff;
}

.editmonitorcontent > a {
    display: inline-block;
    padding: 5px 10px;
}

.editmonitorcontent > a:hover {
    background: #f7f7f7;
}
input[type=date]:disabled, input[type=date][readonly=readonly], input[type=datetime-local]:disabled, input[type=datetime-local][readonly=readonly], input[type=email]:disabled, input[type=email][readonly=readonly], input[type=number]:disabled, input[type=number][readonly=readonly], input[type=password]:disabled, input[type=password][readonly=readonly], input[type=search-md]:disabled, input[type=search-md][readonly=readonly], input[type=search]:disabled, input[type=search][readonly=readonly], input[type=tel]:disabled, input[type=tel][readonly=readonly], input[type=text]:disabled, input[type=text][readonly=readonly], input[type=time]:disabled, input[type=time][readonly=readonly], input[type=url]:disabled, input[type=url][readonly=readonly], textarea.md-textarea:disabled, textarea.md-textarea[readonly=readonly]{
	color: #555;
    border: initial;
    background-color: #f6f6f6;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding-left: 5px;
    padding-right: 5px;
}
.btn.btn-flat {
    color: rgba(0,0,0,.87) !important;
    background: transparent !important;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    letter-spacing: 0;
    -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    -o-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    padding: 8px 30px;
    cursor: pointer;
    margin: 10px 1px;
}

.btn.btn-flat:hover {
    background-color: rgba(153,153,153,.2) !important;
}
.sign-contentimage > img {
    max-height: 50px;
    max-width: 100%;
}

.sign-contentimage > span {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #e4e4e4;
    border-radius: 100%;
    padding: 3px 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    cursor: pointer;
    z-index: 1;
}

.sign-contentimage {
    display: inline-block;
    position: relative;
    border: 1px solid #ddd;
        padding-right: 20px;
    margin-top: 10px;
}
.arrow-updown {
    float: right;
    padding: 5px 15px;
    margin-top: -5px;
    margin-right: -10px;
    cursor: pointer;
}
ul.list-unstyled.attachdesign > li {
   /*  background-color: #f5f5f5; */
    border: 1px solid #dcdcdc;
    font-weight: 500;
    margin: 0 0 5px;
    overflow-y: hidden;
    padding: 0 25px 0px 8px;
    position: relative;
}

ul.list-unstyled.attachdesign {
    margin: 0;
}

ul.list-unstyled.attachdesign > li > span {
    position: absolute;
    right: 0;
    font-size: 12px;
    top: 0;
    padding: 0 7px;
    cursor: pointer;
    z-index: 1;
}

ul.list-unstyled.attachdesign > li > a {
    font-size: 12px;
    display: block;
    color: #0275d8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.custom-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.polivalance-count > span {
    padding: 8px 7px;
    display: inline-block;
    background: #f5f5f5;
    border-radius: 4px;
    margin-right: 4px;
}
.customstatus-design > span {
    font-size: 10px;
    padding: 2px 5px;
}
.subtitle-bg {
    font-weight: 500;
    background: #dddddd;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 0;
    color: #000;
}
.colorMenu:not([href]):not([tabindex]) {
    color: #0000008a;
}
.menu > li:hover > a.colorMenu:not([href]):not([tabindex]), .menu > li.active > a.colorMenu:not([href]):not([tabindex]){
	color: #8de900;
}
.dropdown-header {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    padding: 5px 10px;
    background: #f7f7f7;
}
.main-title {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 5px;
        margin-top: 5px;
}
.btn-default {
    background: #f2f2f2;
    color: #333 !important;
    border: 1px solid #ccc;
}
.btn-default:active, .btn-default:focus, .btn-default:hover {
    background-color: #ffffff!important;
}
.btn-success {
    background: #8de900;
}
.btn-success:active, .btn-success:focus, .btn-success:hover {
    background-color: #8de900!important;
}
.btn.btn-sm {
    padding: 8px 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.btn .fa {
    margin-right: 5px;
}
.form-group label {
    margin-bottom: 0;
  /*   color: #0000008a; */
  color:#333;
    font-weight: 500;
}

/* Custom Form-group Form-control */

.form-control:focus{
	border-bottom: 1px solid #8ee903;
    box-shadow: 0 1px 0 0 #8ee903;
}
input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea{
	padding: 4px 0;
	margin-bottom: 0;
	height: 24px;
	margin-top: 0;
	font-size: 12px;color: #333;
	    box-sizing: border-box;
}
select.form-control {
    padding: 4px 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 12px;
    height: 1.462rem !important;
    border: 0px;
    border-bottom: 1px solid #ccc;
}
textarea.form-control {
    resize: none;
    border: 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding: 0;
    height: 3.6rem;
    font-size: 12px;
    margin-top: 0;
}
.form-group {
    margin-bottom: 10px;
}
.form-group input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
border-bottom: 1px solid #8de900;
box-shadow: 0 1px 0 0 #8de900; }


/* Radio Checkbox */
[type=radio]:checked,
[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
    visibility: hidden
}

[type=radio]:checked+label,
[type=radio]:not(:checked)+label {
    position: relative;
    height: 25px;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    padding-left: 35px;
    line-height: 25px;
}

[type=radio]+label:after,
[type=radio]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease
}

[type=radio]:not(:checked)+label:before {
    border-radius: 50%;
    border: 2px solid #5a5a5a
}

[type=radio]:not(:checked)+label:after {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

[type=radio]:checked+label:before {
    border-radius: 50%;
    border: 2px solid transparent
}

[type=radio]:checked+label:after {
    border-radius: 50%;
    border: 2px solid #8de900;
    background-color: #8de900;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02)
}

[type=radio].with-gap:checked+label:before {
    border-radius: 50%;
    border: 2px solid #4285F4
}

[type=radio].with-gap:checked+label:after {
    border-radius: 50%;
    border: 2px solid #4285F4;
    background-color: #4285F4;
    z-index: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
}

[type=radio].with-gap:disabled:checked+label:before {
    border: 2px solid rgba(0, 0, 0, .46)
}

[type=radio].with-gap:disabled:checked+label:after {
    border: none;
    background-color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled:checked+label:before,
[type=radio]:disabled:not(:checked)+label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled+label {
    color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled:not(:checked)+label:before {
    border-color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled:checked+label:after {
    /* background-color: rgba(0, 0, 0, .46);
    border-color: #BDBDBD */
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
    position: absolute;
    opacity: 0;
    z-index: 100;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

[type=checkbox]+label {
    position: relative;
    min-height: 17px;
}

[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s
}

[type=checkbox]:not(:checked):disabled+label:before {
    border: none;
    background-color: rgba(0, 0, 0, .46)
}

[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #4285F4;
    border-bottom: 2px solid #4285F4;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox]:checked:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, .46);
    border-bottom: 2px solid rgba(0, 0, 0, .46)
}

[type=checkbox]:indeterminate+label:before {
    left: -10px;
    top: -11px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #4285F4;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox]:indeterminate:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, .46);
    background-color: transparent
}

[type=checkbox].filled-in+label:after {
    border-radius: 2px
}

[type=checkbox].filled-in+label:after,
[type=checkbox].filled-in+label:before {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    z-index: 1
}

[type=checkbox].filled-in:not(:checked)+label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 3px;
    top: 6px;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type=checkbox].filled-in:not(:checked)+label:after {
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0;
    z-index: 0;
}

[type=checkbox].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 7px;
    height: 12px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type=checkbox].filled-in:checked+label:after {
    top: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #8de900;
    background-color: #8de900;
    z-index: 0;
}

[type=checkbox].filled-in:disabled:not(:checked)+label:before {
    background-color: transparent;
    border: 2px solid transparent
}

[type=checkbox].filled-in:disabled:not(:checked)+label:after {
    border-color: transparent;
    background-color: #BDBDBD
}

[type=checkbox].filled-in:disabled:checked+label:before {
    background-color: transparent
}



[type=checkbox].filled-in-danger+label:after {
    border-radius: 2px
}

[type=checkbox].filled-in-danger+label:after,
[type=checkbox].filled-in-danger+label:before {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    z-index: 1
}

[type=checkbox].filled-in-danger:not(:checked)+label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox].filled-in-danger:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0;
    z-index: 0
}

[type=checkbox].filled-in-danger:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox].filled-in-danger:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    background-color: red;
    z-index: 0
}

/* Loader changes */
.loader-wrapper { position: fixed; background: rgba(0, 0, 0, 0.4); top: 0; bottom: 0; right: 0; left: 0; z-index: 1200; } .loader-content { position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -25px; padding: 12px 12px; background: #fff; border-radius: 100%; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); box-shadow: 0 5px 15px rgba(0,0,0,.5); } .global-spinner { width: 26px; height: 26px; border: solid 2px transparent; border-top-color: #82e600 ; border-left-color: #82e600 ; border-radius: 50%; -webkit-animation: pace-spinner 500ms linear infinite; -moz-animation: pace-spinner 500ms linear infinite; -ms-animation: pace-spinner 500ms linear infinite; -o-animation: pace-spinner 500ms linear infinite; animation: pace-spinner 500ms linear infinite; } @-webkit-keyframes pace-spinner { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } @-moz-keyframes pace-spinner { 0% { -moz-transform: rotate(0deg); transform: rotate(0deg); } 100% { -moz-transform: rotate(360deg); transform: rotate(360deg); } } @-o-keyframes pace-spinner { 0% { -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -o-transform: rotate(360deg); transform: rotate(360deg); } } @-ms-keyframes pace-spinner { 0% { -ms-transform: rotate(0deg); transform: rotate(0deg); } 100% { -ms-transform: rotate(360deg); transform: rotate(360deg); } } @keyframes pace-spinner { 0% { transform: rotate(0deg); transform: rotate(0deg); } 100% { transform: rotate(360deg); transform: rotate(360deg); } }


/*Error*/
.error {
border-color: #f44336 !important;
box-shadow: 0 1px 0 0 #f44336 !important;
color: #d9534f;
}
.error .select2-container--bootstrap .select2-selection{
border-color: #f44336 !important;
box-shadow: 0 1px 0 0 #f44336 !important;
color: #d9534f;
}
.error .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder{
color: #d9534f;
}
.error label {
color: #f44336 !important;
}

.error [type=radio]:not(:checked)+label:after,
.error [type=radio]:not(:checked)+label:before {
border-color: #f5594e;
}
.errormsg {
display: none;
}
.error .errormsg {
color: #f44336 !important;
font-size: 10px;
display: block;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    height: 2.1rem;
}
span.helpicon {
    margin-left: 5px;
}
span.annotatedimage-clear {
	position: absolute;
    right: -5px;
    top: -5px;
    background: #e4e4e4;
    border-radius: 100%;
    padding: 3px 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    cursor: pointer;
    z-index: 1;
}

.annotateImage-wrapper {
    position: relative;
    width: 200px;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
}

.annotateImage-wrapper > img {
    max-width: 100%;
}

.annotated-image {
}

.annotateImage-wrapper:hover > span {
    display: block;
}
.perviewImage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    cursor: pointer;
    z-index: 1;
    background: #00000063;
    text-align: center;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.perviewImage > i {
    color: #e4e4e4;
    font-size: 30px !important;
}

.perviewImage:before {
    content: "\f06e";
    color: #fff;
    font-size: 30px;
    position: relative;
    top: 25px;
}

.annotateImage-wrapper:hover .perviewImage{
    display:block;
}

[data-fieldtype="CHECKBOX"]{
    margin-top:5px;
}
[data-fieldtype="CHECKBOX"] fieldset {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.monitoringfields-div {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px dashed #ddd;
}
.customdrop > a {
    font-size: 12px;
}
input.form-control.labelinput {
    font-size: 16px;
    margin-bottom: 10px;
}

.dottedborder {
    padding: 10px;
    border: 1px dashed #cccccc;
}

span.fieldtrash {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 5px 10px;
    background: #fff;
    cursor: pointer;
}

.fieldWrapper .form-group {
    position: relative;
}
textarea.form-control:disabled {
    background: #f6f6f6;
    border: initial;
}
.varfield-content > i {
    margin-right: 10px;
}
.listboxWrapper .varfield-content > i {
    font-style: inherit;
}
.listboxWrapper > div {
    counter-increment: count;
}

.listboxWrapper {
    counter-reset: count;
}

.listboxWrapper > div:before {
    content: counter(count) ". ";
    font-weight: bold;
    padding-right: 10px;
}
.varfield-content > span {
    padding: 0 10px;
    cursor: pointer;
    color: #b3b3b3;
    display: inherit;
}

.varfield-content > * {align-self: center;}

.varfield-content {
    margin-bottom: 10px;
    padding-right: 20px;
}

.addoption {
    font-size: 12px;
    color: #0275d8 !important;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}
/* ---------------------------------------------------
    Media Query STYLE
----------------------------------------------------- */
@media (min-width: 991px){
.dataTables_info {
    float: left;
}
}
@media (max-width: 991px){
	.monitoringcol-wrapper {
	    flex-wrap: wrap;
	}
	.monitoringcol-left,.monitoringcol-right{
		width: 100%;
	}
	.dataTables_info {
		text-align: center;
	}
    #sidebarCollapse{
	    display: inline-block !important;
	    vertical-align: middle;
	    margin-right: 10px;
    }
    a.navbar-brand.header-logo img {
	    width: auto;
	    height: 30px;
	}
	#main-hmenu {
	    display: none !important;
	}
	main.content-wrapper > section {
	    padding: 10px 0;
	}
	div.dataTables_wrapper div.dataTables_paginate ul.pagination{
		justify-content: center;
	}
    
}

@media (max-width: 499px){
	h1.homeText {
    font-size: 18px;
}
	.quote-phrase,.quote-author {
    font-size:14px;
}
div#workpermit-btndiv span.helpinstruction-link {
width: 100%;
margin: 5px;
} 
 .custom-actionbtn > button {
    margin: 4px !important;
}
div#workpermit-btndiv{
	flex-wrap:wrap;
}

.workatheight-form > .x_panel > blockquote {
    padding: 0px 10px;
}	
.allCards a {
    width: calc(100%/2 - 40px);
    margin: 10px 20px;
    font-size: 12px;
    max-width: 150px;
}

.allCards a .roundCardHome i {
    height: 50px;
    width: 50px;
    line-height: 50px;
}
/* h1.homeText, */ 
#main-hmenu,.title-header {
    display: none !important;
}
}

@media (min-width: 500px){
.customcol-4 > .form-group,
.customcol-4 > .form-check {
    width: calc(100%/2);
    padding: 0 10px;
    align-self: flex-end;
}

.customcol-4.col4 .form-group {
    width: calc(100%/4);
}
.customcol-2 > .form-group,
.customcol-2 > .form-check {
    width: calc(100%/2);
    padding: 0 10px;
    align-self: flex-end;
}
.customcol-3 > .form-group,
.customcol-3 > .form-check{
    width: calc(100%/3);
    padding: 0 10px;
    align-self: flex-end;
}
.customcol-4,.customcol-2,.customcol-3 {
    display: flex;
    flex-wrap: wrap;
}
.highlight-row{
	background-color:#d2ddbb !important;
}
}
span.helpinstruction-link {
    font-size: 12px;
    line-height: 29px;
    color: #334395;
    cursor: pointer;
}
div#helpinstruction-modal table tbody td:first-child {
    max-width: 40%;
    word-break: break-word;
}

div#helpinstruction-modal table tbody td:nth-child(2) {
    width: 60%;
}

div#helpinstruction-modal table tbody td {
    vertical-align: middle;
}

.pagination .page-link:focus {
    background-color: transparent;
    color: #000;
}
.dataTables_info {
    font-size: 12px;
}
.pagination {
    font-size: 12px;
    padding: 25px;
}
.page-link {
    padding: 5px 10px;
}
.select2-container--bootstrap .select2-selection {
    font-size: 12px;
}

.select2-container--bootstrap .select2-results__option {
    font-size: 12px;
}
fieldset.error [type=checkbox].filled-in:not(:checked)+label:after {
    border-color: #f44336 !important;
}
fieldset.error {
    box-shadow: none !important;
}
fieldset.error label {
    color: #333 !important;
}
.select2-container--bootstrap .select2-selection--single {
    height: 24px;
    padding: 4px 24px 4px 0;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    height: 24px;
}

.pagination .page-link:focus {
    outline: 0;
    color: #fff;
    background: #0275d8;
}


ul.list-unstyled.attachdesign.imageattach > li {
    width: calc(100%/2 - 10px);
    margin: 5px;
    padding: 0;
    overflow: visible;
    padding-bottom: 27px;
}

.imageattach {
    display: flex;
    flex-wrap: wrap;
}

ul.list-unstyled.attachdesign.imageattach > li > .cloneimage img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

ul.list-unstyled.attachdesign.imageattach > li > a {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding: 5px;
    z-index: 1;
}


.cloneimage {
    width: 100%;
    height: 250px;
    display: flex;
    cursor: pointer;
}